.dark-mode {
  --loading-background: rgb(39, 39, 39);
  --loading-border-dot: rgb(240, 240, 240);
  --loading-dot: rgb(39, 39, 39);
  --loading-shadow: rgb(0, 0, 0, 0.6);
}

.white-mode {
  --loading-background: rgb(240, 240, 240);
  --loading-border-dot:  rgb(39, 39, 39);
  --loading-dot: rgb(240, 240, 240);
  --loading-shadow: rgb(0, 0, 0, 0.6);
}